@media (max-width: 425px) {
    .add-region-btn #add-region-btn {
        display: none;
    }
    .create-region-btn #create-region-btn {
        display: none;
    }
    .add-region-btn .icon {
        display: flex;
        justify-content: end;
    }
    .edit-region-btn #edit-region-btn {
        display: none;
    }
}

@media (min-width: 426px) {
    .add-region-btn .icon {
        display: none;
    }
    .create-region-btn .icon {
        display: none;
    }
    .edit-region-btn .icon {
        display: none;
    }
}
