html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #EEEEEE;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
a {
  color: inherit;
  text-decoration: none;
}

.dropdown-overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

* {
  box-sizing: border-box;
}
.signatureCanvas{
  border: 2px solid black;
  width: 100%;
  min-height: 200%;
  background-color:whitesmoke;
}
.hoverable {
  position: static;
}

.dropdown:focus-within .dropdown-menu {
  opacity:1;
  transform: translate(0) scale(1);
  visibility: visible;
}

.hoverable > a:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.hoverable:hover .mega-menu {
  display: block;
}
.mega-menu {
  display: none;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
}
.toggleable > label:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.toggle-input {
  display: none;
}
.toggle-input:not(checked) ~ .mega-menu {
  display: none;
}

.toggle-input:checked ~ .mega-menu {
  display: block;
}

.toggle-input:checked + label {
  color: white;
  background: #2c5282; /*@apply bg-blue-800 */
}

.toggle-input:checked ~ label:after {
  content: "\25B2";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

section {
  padding: 3rem;
  flex: 1;
  display: flex;
  margin-left: 150px;
  flex-direction: column;
}
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(220, 223, 235);
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 4px;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #302626;
    display: block;
  }
  
  .sidenav a:hover {
    color: #400053;
    background-color: rgb(74, 71, 255);
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  .button{
    float: left;
    display: block;
    width: 150px;
    padding: 8px 0;
    margin: 30px auto;
    background: #4979ff;
    border-radius: 1200px;
    color:white;
    text-align:center;
    
  }
  .button a{
   

      font-size: px;
 
  }
